<body>

	<h1>Multiple Choice </h1>
<form action="/form" method="post">
	<form>
		<p>1.Which of the following domain are you interested for your startup?</p>
		<input type="radio" name="q1" value="a">a. Tech<br>
		<input type="radio" name="q1" value="b">b. Finance<br>
		<input type="radio" name="q1" value="c">c. E-Commerce <br>
		<input type="radio" name="q1" value="d">d. Real-Estate<br>
    
		<p>2.What is your amount of investment ? </p>
		<input type="radio" name="q2" value="a">a. High budget<br>
		<input type="radio" name="q2" value="b">b. Medium budget<br>
		<input type="radio" name="q2" value="c">c. Low budget<br>
		<input type="radio" name="q2" value="d">d. No budget <br>

		<p>3.What is your expected growth rate of your startup?</p>
		<input type="radio" name="q3" value="a">a. High growth<br>
		<input type="radio" name="q3" value="b">b. Moderate growth<br>
		<input type="radio" name="q3" value="c">c. Low growth<br>
		<input type="radio" name="q3" value="d">d. Sustainable growth<br>

		<p>4. What is your risk tolerance level? </p>
		<input type="radio" name="q4" value="a">a. Very high risk<br>
		<input type="radio" name="q4" value="b">b. High risk<br>
		<input type="radio" name="q4" value="c">c. Medium risk<br>
		<input type="radio" name="q4" value="d">d. Low risk<br>

		<p>5. What kind of venture are you seeking with sustained growth potential?</p>
		<input type="radio" name="q5" value="a">a. Short term <br>
		<input type="radio" name="q5" value="b">b. Long term <br>
		<input type="radio" name="q5" value="c">c. Balanced <br>
		<input type="radio" name="q5" value="d">d. Undecided<br>

        <button type="submit" style="margin: 50px;">submit</button>
	</form>
</form>
</body>






