<body>

	<h1>Multiple Choice </h1>
<form action="/med" method="post">
	<form>
		<p>1.</p>
		<input type="radio" name="q1" value="a">a. <br>
		<input type="radio" name="q1" value="b">b. <br>
		<input type="radio" name="q1" value="c">c. <br>
		<input type="radio" name="q1" value="d">d. <br>
        
		<p>2.</p>
		<input type="radio" name="q2" value="a">a. <br>
		<input type="radio" name="q2" value="b">b.<br>
		<input type="radio" name="q2" value="c">c. <br>
		<input type="radio" name="q2" value="d">d.<br>

		<p>3</p>
		<input type="radio" name="q3" value="a">a. <br>
		<input type="radio" name="q3" value="b">b. <br>
		<input type="radio" name="q3" value="c">c. <br>
		<input type="radio" name="q3" value="d">d.<br>

		<p>4.</p>
		<input type="radio" name="q4" value="a">a. <br>
		<input type="radio" name="q4" value="b">b. <br>
		<input type="radio" name="q4" value="c">c.<br>
		<input type="radio" name="q4" value="d">d. <br>

		<p>5.</p>
		<input type="radio" name="q5" value="a">a. <br>
		<input type="radio" name="q5" value="b">b. <br>
		<input type="radio" name="q5" value="c">c.<br>
		<input type="radio" name="q5" value="d">d. <br>

        <button type="submit" style="margin: 50px;">submit</button>
	</form>
</form>
</body>










